body {
    background-color: rgb(39, 55, 129);
}

.app {
    width: 500px;
    margin: 30px auto;
    position: relative;
    text-align: center;
}

.wheel {
    width: 500px;
    height: 500px;
    display: block;
}

.marker {
    position: absolute;
    width: 40px;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.button {
    margin-top: 20px;
    width: 250px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button:hover {
    opacity: 0.8;
}

.blur {
    animation: blur 10s;
}

@keyframes blur {
    0% {
        filter: blur(1.5px)
    }
    80% {
        filter: blur(0.5px)
    }
    100% {
        filter: blur(0)
    }
}

/* Question box */

.question-container {
    width: 500px;
    margin: 20px auto;
    padding: 20px;

    background-color: #393939;

    border-radius: 10px;
    border: 1px solid red;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    text-align: left;
    color: white;
}

.question-container h3 {
    color: #fff;
    margin-top: 0;
}

.answer-btn {
    background-color: #002f43;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
}

.answer-btn:hover {
    background-color: #005f7f;
}