body {
    background-color: rgb(39, 55, 129);
}

.app {
    width: 500px;
    margin: 30px auto;
    position: relative;
    text-align: center;
}

.wheel {
    width: 500px;
    height: 500px;
    display: block;
}

.marker {
    position: absolute;
    width: 40px;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.button {
    margin-top: 20px;
    width: 250px;
    cursor: pointer;
    display: none;
    margin-left: auto;
    margin-right: auto;
}

.button:hover {
    opacity: 0.8;
}

.form form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form label {
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin: 20px;
}

.form input {
    width: 250px;
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
    border: 2px solid #000000;
}

.form button {
    width: 285px;
    background-color: #e20714;
    color: white;
    border: 2px solid #000000;
    padding: 10px 10px;
    display: inline-block;
    font-size: 20px;
    margin: 20px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}

.form button:hover {
    background-color: #ff4c4c;
}

.blur {
    animation: blur 10s;
}

@keyframes blur {
    0% {
        filter: blur(1.5px)
    }
    80% {
        filter: blur(0.5px)
    }
    100% {
        filter: blur(0)
    }
}

/* Question box */

.question-container {
    width: 500px;
    margin: 20px auto;
    color: white;
    padding: 20px;
    background-color: #e20714;
    border-radius: 10px;
    border: 2px solid #000000;
    font-family: 'Roboto', sans-serif;
}

.answer-btn {
    background-color: #273781;
    color: white;
    border: 2px solid #000000;
    padding: 10px 10px;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}

.answer-btn:hover {
    background-color: #005f7f;
}
